/*
 * Сюда можно полжить свои стили.
 */

.table > tbody > tr > td, th {
    text-align: center;
    padding: 15px;
    /* vertical-align: center; */
}

#avatar {
    max-height: 58px;
    display: flex;
    align-items: center;
    display: flex;
    padding: 7px 14px;
}

.table > thead > tr > th {
    padding: 15px;
}

.react-bootstrap-table-pagination-list {
    text-align: right;
}

.table {
    margin-top: 30px;
}

#poster {
    max-width: 150px;
    max-height: 200px;
}

h1, h2, h3, h4 {
    text-align: center;
}

.message {
    margin-top: 15%;
}